.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 25px;
    box-shadow: 0 2px 10px rgb(234, 129, 8);
    border: 1px solid rgb(59, 54, 54);
    margin-top: 120px;
    padding: 50px;
    border-radius: 8px;
    width: 30%;
}
.login-section input {
    padding: 15px;
    border-radius: 8px;
    width: 50%;
}
.login-section button {
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
    width: 120px;
}
.register-link {
    color:rgb(234, 129, 8);
    text-decoration-color: underline rgb(234, 129, 8);
}
