.tools-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tools-intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 75px;
}
.tools-spacer {
    width: 75%;
    border-top: 1px solid #ffffff;
    align-self: center;
}
.tools-intro {
    margin-top: 35px;
    width: 50%;
    font-size: large;
    line-height: 1.5;
}
.search-here {
    font-size: large;
    font-weight: bold;
}
.tool-search {
    padding: 15px;
    width: 40%;
    border-radius: 12px;
    background-color: rgb(59, 54, 54);
    color: white;
    box-shadow: 0 2px 10px rgb(234, 129, 8);
    border: 1px solid rgb(59, 54, 54);
}
.tools-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid rgb(59, 54, 54);
    width: 85%;
    background-color: rgb(59, 54, 54);
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(234, 129, 8);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
.tool {
    flex: 1 1 calc(22% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
    border: 1px solid black;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tool:hover {
  transform: translateY(-6px);
  background-color: #474a50;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
.tool-name {
    font-size: large;
    font-weight: bold;
}
.tool-img {
    max-width: 100%;
    max-height: 140px;
    object-fit: contain;
    border-radius: 8px;
}
.tool-rating {

}
.tool-provider {

}
.navigate-add-tool-button {
    margin-bottom: 40px;
    padding: 30px;
    background-color:rgb(234, 129, 8);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 5px 5px 0px black;
    transition: all 0.3 ease;
}
.navigate-add-tool-button:hover {
    background-color: white;
    color: rgb(234, 129, 8);
    box-shadow: 5px 5px 0px rgb(234, 129, 8);
}
.navigate-add-tool-button:active {
    background-color: yellow;
    box-shadow: none;
    transform : translateY(4px);
}